@keyframes fadeOutLeftBig {

  0.1% {
    transform-origin: 0 0;
  }

  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}
